.content {
	margin: 0 auto 0 70px;
}
.content h1.title {
	display: none;
}

.flux .item.website {
	text-align: right;
}
.flux .item.favicon {
	width: 40px;
	text-align: center;
}
.flux .item.date {
	text-align: left;
}

@media(max-width: 840px) {
	.no-mobile {
		display: none;
	}
}
